//fonts
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

html{
    scroll-behavior: smooth;
}

body, .body{
    margin: 0;
    padding: 0;
    background: $background-color;
    min-height: 1000px;
    color: $text-color;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
}

.body{
    padding: 100px 80px;
    letter-spacing: 1px;
}

*{
    box-sizing: border-box;
    outline: hidden;
}

a{
    text-decoration: none;
    color: $text-color;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    border-radius: 15px;
    background: $primary-color;
    box-shadow: 5px 8px 15px 0px $shadow;
    overflow: hidden;
}

h1.title{
    text-align: center;
    margin: 70px 0 50px 0;
    letter-spacing: 5px;
    color: $title-color;
    text-shadow: 5px 5px 6px $shadow;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    text-transform: capitalize;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.to-top-button{
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: $primary-color;
    box-shadow: 5px 8px 15px 0px $shadow;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;

    a{
        width: 100%;
        height: 100%;
    }

    img{
        width: 100%;
        height: 100%;
    }
}

.svg-icon, .sm-icon{
    color: $title-color;
    font-weight: bolder;
    margin: 0 5px;
    width: 20px;
}

.primary-button{
    padding: 7px 15px;
    border: none;
    border-radius: 15px;
    background-color: $button-color;
    box-shadow: 3px 3px 15px 0px $shadow;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    outline: transparent;
    cursor: pointer;
}