.footer{
    height: 100px;
    width: calc(100% + 160px);
    margin-left: -80px;
    background-color: #161515;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright{
        padding: 0 20px;
    }

    .social-links{
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .icon-container{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            padding: 3px;
            margin: 0 5px;

            display: flex;
            justify-content: center;
            align-items: center;

            h5{
                margin: 0 10px;
            }

            a, img{
                height: 100%;width: 100%;
            }
        }
    }

    #resp-header{
        display: none;
    }
}

@media only screen and (max-width:999px){
    #footer{
        width: 100%;
        padding: 20px 0;
        margin: 0;
        height: auto;
        flex-direction: column-reverse;

        .social-links{
            width: 100%;
            border-bottom: 2px solid #444;
            padding-bottom: 20px;
        }

        .copyright{
            text-align: center;
            line-height: 24px;
            padding-top: 20px;

            h5{
                margin: 5px 0;
            }
        }

        #resp-header{
            display: block;
        }

        .resp-header{

            ul{
                list-style: none;
                // width: 100%;
                padding: 0 0 15px 0;
                border-bottom: 2px solid #444;

                li{
                    padding: 5px;
                    // text-align: center;
                }
            }
        }
    }
}
