#header{
    position: absolute;
    top: 0;
    width: 100%;
    letter-spacing: 1.5px;
    background: rgba(37, 37, 37, 0.315);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sm-icon{
        color: #191919;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;


        &.right-header{
            text-transform: capitalize;
        }

        li{
            margin: 0 10px;

        }
    }
}