#header{
    position: absolute;
    top: 0;
    width: 100%;
    letter-spacing: 1.5px;
    background: rgba(37, 37, 37, 0.315);
    z-index: 1;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sm-icon{
        color: #191919;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;


        &.right-header{
            text-transform: capitalize;
        }

        li{
            margin: 0 10px;

        }
    }
}

@media only screen and (max-width:768px){

    #header{
        // display: none;
        flex-direction: column;
        justify-content: center;

        .left-header{
            display: flex;
            flex-direction: column;
        }

        li{
            padding: 5px 0;
        }
    }


}