#navbar{
    width: calc(100% + 160px);
    margin-left: -80px;
    background: #684521;
    display: flex;
    justify-content: center;

    ul{
        list-style: none;
        width: 80%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
    

        li{
            margin: auto;
            padding: 15px;
            
            &.active{
                border-bottom: 3px solid $button-color;
            }

            a{

                &:hover{
                    color: #dcddde;
                }
            }
        }
    }
}

.affix {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    box-shadow: 0px 5px 15px 0px $shadow;
}


.logo-container{
    width: calc(100% + 160px);
    display: flex;
    justify-content: center;
    max-height: 100px;
    height: 55px;
    margin: 20px 0 10px -80px;
    
    img{
        height: 100%;
    }
}