#navbar{

    ul{
        list-style: none;
        width: calc(100% + 160px);
        margin-left: -80px; 
        background: rgba(78, 53, 25, 0.315);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
    

        li{
            margin: auto;
            padding: 15px;
            
            &.active{
                border-bottom: 3px solid $button-color;
            }

            a{

                &:hover{
                    color: #dcddde;
                }
            }
        }
    }
}

.logo-container{
    width: calc(100% + 160px);
    display: flex;
    justify-content: center;
    max-height: 100px;
    height: 55px;
    margin: 20px 0 10px -80px;
    
    img{
        height: 100%;
    }
}