.navbar-fixed{
    position: fixed;
    top: 0;
    margin-left: 0px;
    box-shadow: 0px 5px 15px -3px $shadow;
}



.navbar{
    width: 100%;
    background: #292929;
    display: flex;
    justify-content: center;
    z-index: 2;

    .nav-marker{
        position: absolute;
        display: inline-block;
        height: 49px;
        max-height: 49px;
        width: 120px;
        border-bottom: 3px solid orange;
        left: 0px;
        z-index: 1;
        transform: translateX(-180%);
    
        transition: transform .5s ease-in-out, width .5s ease-in-out;
    }

    ul{
        list-style: none;
        width: 80%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
    

        li{
            margin: auto;
            padding: 15px;
            
            &.active{
                border-bottom: 3px solid $button-color;
            }

            a{

                &:hover{
                    color: #dcddde;
                }
            }
        }
    }
}

.affix {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    box-shadow: 0px 5px 15px -3px $shadow;
}

#resp-navbar{
    display: none;
}


.logo-container{
    width: calc(100% + 160px);
    display: flex;
    justify-content: center;
    max-height: 100px;
    height: 55px;
    margin: 20px 0 10px -80px;
    
    img{
        height: 100%;
    }

    #ham-menu-btn{
        display: none;
    }
}

@media only screen and (max-width:999px){
    .logo-container{
        display: none;
    }

    .navbar{
        display: none;
    }

    #resp-navbar{
        display: block;
        background: #292929;

    }

    .resp-navbar{
        overflow-x: hidden;

        .nav-visible{
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-height: 100px;
            height: 55px;  

            img, #ham-menu-btn{
                height: 100%;
            }

            #ham-menu-btn{
                border-radius: 5px;
                border: 2px solid #434343;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 15px;
                cursor: pointer;
    
                &:hover{
                    background-color: #222;
                }
    
                i{
                    font-size: 30px;
                }
    
                .fa-times{
                    display: none;
                }
    
                .times-clicked{
                    display: block;
                }
    
                .bars-clicked{
                    display: none;
                }
            }
        }

        ul{
            width: 0%;
            position: absolute;
            background: rgba(68, 68, 68, 0.85);
            margin: 0;
            padding: 0;
            list-style: none;
            z-index: 9;
            overflow: hidden;

            transition: width .5s ease-in-out;
            li{
                text-align: center;
                padding: 15px 0; 
                
                input[type=search]{
                    color: #fff;
                    font-family: 'Montserrat Alternates', sans-serif;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #eaeaea;
                    padding: 0px 10px;
                    padding-bottom: 7px;

                    &:placeholder-shown::placeholder{
                        color: #fff;
                        font-family: 'Montserrat Alternates', sans-serif;
                    }

                    &:focus{
                        border-bottom-color: $button-color;
                    }
                }

                button{
                    background-color: $button-color;
                    background-image: url(D:/work/Travel/images/search.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 60%;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 30px;
                    position: relative;
                    top: 7px;
                    width: 30px;

                    &:hover{
                        background-color: darken($button-color, 5%);
                    }
                }
            }
        }

        .nav-shown{
            width: 100%;
        }
    }

    .resp-affix {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 9999;
        display: none;
        padding: 10px 0;
        background: #292929;
        box-shadow: 0px 5px 15px -3px $shadow;
    }
    
}
