@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps&display=swap');

.parallax{
    min-height: 140vh;
    height: auto;
    overflow: hidden;
    position: relative;
}

.mobile-parallax{
    display: none;
    width: 100%;
    min-height: 75vh;
    height: auto;
    background-image: url(D:/work/Travel/images/parallax/complete-illustration-picture-mparallax0.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 140vh; 
    height: auto;
    width: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.layer-bg{
    background-image: url(D:/work/Travel/images/parallax/background2withClouds.png);
}

.layer-one{
    background-image: url(D:/work/Travel/images/parallax/mid-mountains1.png);
}

.layer-text{
    text-align: center;
}

.layer-text h1{
    background: linear-gradient(to top right,rgb(0, 17, 255), rgb(26, 8, 184), rgb(207, 28, 4),rgba(226, 8, 8, 0.651));
    // background: linear-gradient(to bottom,rgb(255, 0, 0), rgb(184, 8, 8), rgb(105, 2, 2),rgba(43, 0, 0, 0.5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    // font-family: 'Luna';
    font-family: 'Macondo Swash Caps', cursive;
    position: relative;
    top: -100px;
    -webkit-text-size-adjust: auto;
    font-size: 500%;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin: auto;
    // -webkit-text-stroke-width: .5px;
    // -webkit-text-stroke-color: rgba(34, 34, 34, 0.534);
}

// .layer-twoAnim{
//     background-image: url(D:/work/Travel/images/background2withClouds.png);
// }

.layer-two{
    background-image: url(D:/work/Travel/images/parallax/cloudsLayer.png);
}

.layer-three{
    background-image: url(D:/work/Travel/images/parallax/frontmost1.png);
}

.layer-four{
    background-image: url(D:/work/Travel/images/parallax/blender292929.png);
}

@media(min-width: 1000px){

    .parallax{
        display: block;
    }

    .mobile-parallax{
        display: none;
    }
}

@media(max-width: 1000px){

    .parallax{
        // display: none;
        min-height: 140vh;
        width: 100%;
    }

    // .mobile-parallax{
    //     // display: block;
    // }

    .layer-text h1{
        background: linear-gradient(to bottom right,rgb(0, 17, 255), rgb(26, 8, 184), rgb(207, 28, 4),rgba(226, 8, 8, 0.651));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        // font-family: 'Luna';
        position: relative;
        top: -100px;
        -webkit-text-size-adjust: auto;
        font-size: 400%;
        text-transform: capitalize;
        letter-spacing: 15px;
        margin: auto;
    }
}

.content{
    background-color:#754c24;
    min-height: 1000px;
    padding-top: 100px;
    /* margin-top: -70px; */
    color: #ececec;
}