#reviews{

    .reviews{
        // border-bottom: 2px solid $text-color;

        .wrapper{
                        
            .card{
                height: 400px;
                border-radius: 5px;
                background-color: rgba(121, 121, 121, 0.199);
                box-shadow: 0px 10px 20px -12px #191919;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 30px;

                .profile-img{
                    border-radius: 7px;
                    width: 40%;
                    height: 90%;
                    background: $primary-color;
                    overflow: hidden;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        height: 100%;
                        width: auto;
                    }
                }
                
                .review-content{
                    width: 60%;
                    padding: 20px 30px;

                    .review-text{
                        
                        @extend %fa-icon;
                        @extend .fas;

                        
                        &:before{
                            content: fa-content($fa-var-quote-left);
                            font-size: 40px;
                            color: rgba(255, 255, 255, 0.548);
                        }  
                        &:after{
                            content: fa-content($fa-var-quote-right);
                            font-size: 40px;
                            position: relative;
                            left: calc(100% - 30px);
                            color: rgba(255, 255, 255, 0.548);
                        }  
                        
                        p{
                            font-family: 'Montserrat Alternates', sans-serif;
                            line-height: 26px;
                            padding-top: 10px;
                            
                            
                            a{
                                color: $button-color;
                                text-transform: lowercase;
                                
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            
                        }

                    }

                    .profile-desc{
                        margin-top: 30px;

                        
                        h4, h5{
                            text-align: center;
                            margin: 5px 0;
                            text-transform: capitalize;
                        }
                        
                
                    }
                
                }
            }
        }
    }

    // .links{
    //     margin-top: 30px;
    // }

    .button-container{
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;

        button{
            margin: 5px;
        }
    }
}